apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: notification-service
        image: notification-service:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: KAFKA_BROKER
          value: "kafka:9092"
        - name: EMAIL_USER
          valueFrom:
            secretKeyRef:
              name: notification-secrets
              key: email-user
              optional: true
        - name: EMAIL_PASS
          valueFrom:
            secretKeyRef:
              name: notification-secrets
              key: email-pass
              optional: true
        - name: RECEIVER_EMAIL
          valueFrom:
            secretKeyRef:
              name: notification-secrets
              key: receiver-email
              optional: true
---
apiVersion: v1
kind: Secret
metadata:
  name: notification-secrets
  namespace: ecommerce
type: Opaque
stringData:
  email-user: ""
  email-pass: ""
  receiver-email: ""
